.card {
  margin-block-start: 99px;
  padding-inline: 40px;
}

.card__container {
  background-color: black;
}

.card__arrow {
}

.card__arrow--prev {
}

.card__viewport {
}

.card__candy {
}

.card__candy-item {
}

.card__popular {
}

.card__popular-title {
}

.card__description {
}

.card__description-title {
}

.card__description-text {
}

.pagination {
}

.pagination__arrow {
}

.pagination__counter {
}

.card__arrow--next {
}
