.atv-value {
}

.atv-value__container {
  background-image: url("/assets/images/benefit/benefits-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 60px 100px;
  padding-inline: 40px;
  display: grid;
}

.atv-value__title {
  font-size: var(--title-hero-size);
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 100px;
}

.atv-value__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.atv-value__list > :first-child {
  grid-column: 1 / -1;
}

.atv-value__item-subtext {
  font-size: var(--subtitle-size);
  font-weight: 500;
  color: var(--text-color);
}

.atv-value__item {
  block-size: 200px;
  background-color: white;
  border-radius: 50px;
  display: flex;
}

.atv-value__item-container {
  block-size: 150px;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 40px;
  padding-inline: 56px;
}

.atv-value__item-img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.atv-value__item-subtext:nth-child(2) {
  color: var(--accent-color);
}
