/* normalize.css — минимальный */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: var(--base-font);
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
}
/* --- IGNORE --- Используется только для сброса стилей браузера */
