@font-face {
  font-family: "Playpen Sans";
  src: url("../fonts/PlaypenSans-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/HelveticaNeue-Light.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("../fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
